stages:
  - build
  - upload_to_package_registry
  - create_release_asset

build:
  stage: build
  image: eclipse-temurin:17-jdk
  variables:
    ANDROID_SDK_VERSION: "13114758"
    ANDROID_BUILD_TOOLS_VERSION: "36.0.0"
    ANDROID_PLATFORM_VERSION: "android-36"
    SECURE_FILES_DOWNLOAD_PATH: "./.secure_files/"
  script:
    - apt-get update -qq && apt-get install -y wget tar unzip lib32stdc++6 lib32z1 curl bash
    - export ANDROID_SDK_ROOT=$PWD/android-sdk
    - mkdir -p $ANDROID_SDK_ROOT/cmdline-tools
    - wget --quiet --output-document=$ANDROID_SDK_ROOT/cmdline-tools.zip https://dl.google.com/android/repository/commandlinetools-linux-${ANDROID_SDK_VERSION}_latest.zip
    - unzip -q $ANDROID_SDK_ROOT/cmdline-tools.zip -d $ANDROID_SDK_ROOT/cmdline-tools
    - mv $ANDROID_SDK_ROOT/cmdline-tools/cmdline-tools $ANDROID_SDK_ROOT/cmdline-tools/tools
    - export PATH=$PATH:${ANDROID_SDK_ROOT}/cmdline-tools/tools/bin/
    - sdkmanager --verbose --version
    - set +o pipefail
    - yes | sdkmanager --licenses
    - set -o pipefail
    - sdkmanager --verbose "platforms;${ANDROID_PLATFORM_VERSION}" "platform-tools" "build-tools;${ANDROID_BUILD_TOOLS_VERSION}"
    - chmod +x ./gradlew
    - curl --silent "https://gitlab.com/gitlab-org/incubation-engineering/mobile-devops/download-secure-files/-/raw/main/installer" | bash
    - ./gradlew --stacktrace assembleDefaultRelease
  artifacts:
    paths:
      - app/build/outputs/apk/default/release/
  only:
    - tags
      
upload_to_package_registry:
  stage: upload_to_package_registry
  image: curlimages/curl:latest
  script:
    - 'curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file "app/build/outputs/apk/default/release/app-default-release.apk" "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/release/${CI_COMMIT_TAG}/bt-remote-${CI_COMMIT_TAG}.apk"'
  only:
    - tags
    
create_release_asset:
  stage: create_release_asset
  image: curlimages/curl:latest
  script:
    - 'curl --request POST --data name="bt-remote-${CI_COMMIT_TAG}.apk" --data url="${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/release/${CI_COMMIT_TAG}/bt-remote-${CI_COMMIT_TAG}.apk" --data filepath="/bt-remote-${CI_COMMIT_TAG}.apk" --header "JOB-TOKEN: ${CI_JOB_TOKEN}" "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/releases/${CI_COMMIT_TAG}/assets/links"'
  only:
    - tags
